/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}


article{
	border: 1px solid #ccc;
	padding: 12px;
	margin: 0.5%;
	border-radius: 4px;
}
.row{clear: both; float: none;  margin-bottom: 40px;}
/* grid system -- mobile first! */


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.row-4 article,
   .row-2 article,
   .float-sm,
   .float-lg{
	   float: left;
	   width: 100%;
   }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.row-4 article{
		float: left;
		width: 24%;
   }
   .row-2 article{
	   float: left;
	   width: 49%;
   }
   .float-sm{
	   float: left;
	   width: 24%;
   }
   .float-lg{
	   float: left;
	   width: 74%;
   }
}